.sign-up-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(90deg, #0968e5, #091970);
}

.sign-up-bg-container h2 {
  color: #ffffff;
  font-family: "Arial";
  font-size: 28px;
  margin-bottom: 40px;
}

.sign-up-bg-container form {
  width: 420px;
}

.sign-up-form input {
  width: 100%;
  padding: 16px 4px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
  color: #f1f1f1;
  margin-bottom: 8px;
}

.sign-up-form input::placeholder {
  color: rgb(185, 185, 185);
}

.sign-up-form button {
  width: 100%;
  padding: 12px 2px;
  border-radius: 4px;
  cursor: pointer;
  background: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  margin-top: 16px;
  color: #000000;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .sign-up-bg-container form {
    width: 320px;
  }

  .sign-up-form input {
    width: 100%;
  }
}

.signup-error-msg {
  color: rgb(252, 1, 1);
  font-family: "Arial";
  font-size: 14px;
}

.signup-nav-container span {
  font-family: "Arial";
  color: #ffffff;
  font-size: 14px;
  margin-right: 8px;
}

.signup-nav-links {
  text-decoration: none;
  color: #ffffff;
  font-family: "Arial";
  font-weight: normal;
  font-weight: 600;
  font-size: 16px;
}
